.head p,.head a{
color: white;
}
h3,.modal-header{
    color: #DDBD4C;
}
footer{
    color:white;
    background-color: gray;
}
.btn{
    border: 0;
    background-color: #DDBD4C;
        display: block;
        
        margin: 20px auto;
      
        padding: 14px 40px;
        
        color: black;
        border-radius: 24px;
       
        cursor: pointer;
}
a{
    text-decoration: none;
}
@media screen and (max-width:700px){
    .modal{
      width:350px;
    }
}
@media screen and (max-width:700px){
    .modal p{
        font-size:15px;
    }
}
@media screen and (max-width:700px){
    .modal h5{
        font-size:20px;
    }
}
